p{
}
	
.colours-container .row{
		padding-bottom: 3%;
		flex-wrap: nowrap;
}



/*.colours-container img{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    max-width: 100%;
    height: auto;
}*/
.colours-container img:hover {
	opacity: 0.8;
}
.colours-container .header {
	text-align: center;
}
.colours-container .header h3{

	background-color: blue;
	padding-bottom: 10px;
	border-bottom: solid;
}

@media screen and (min-width: 801px) {
	p.img-description {
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		color:white;

	}
	h3.img-caption{
		font-size: 17px;
		color:white;
	}
	.colours-container img{

	    width: 100%;
	    height: auto;
	}
.colours-container .col-sm-4{
	margin-left: 0px;
	margin-right: 0px;
	padding: 4px 4px;
}
}

@media screen and (max-width: 800px) {
	p.img-description {
	    font-size: 10px;
	    display: inline-block;
	    vertical-align: middle;
	    color:white;
	}
	h3.img-caption{
	  	font-size: 15px;
	  	color:white;
	}
	.colours-container img{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 100%;
	    height: auto;
	}
}