* {
	box-sizing: border-box;
}


p{
}

.shapes-container .col-sm-4 h3{
	margin-top: 0px;
}

.shapes-container .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#imagebox{
	margin-bottom: 5%;
}

.shapes-container .column img {
    margin-top: 10px;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding: 0 4px;

}

.shapes-container .column img:hover {
    cursor: pointer;
    opacity: 0.8;
}
article{
	padding-top: 4px;
}

@media screen and (min-width: 601px) {

	.column {
	    flex: 50%;
	    max-width: 50%;
	}

}
  
@media screen and (max-width: 600px) {

	.column {
        flex: 100%;
        max-width: 100%;
	}
	
}