.captioned-figure {
	display: table;
	table-layout: fixed;
}
.captioned-figure img {
	margin-bottom: 10px;
	border: 0;
}

.captioned-figure .figcaption {
	display: table-caption;
	caption-side: bottom;
	color: white;
	padding: 0 10%;
	font-weight: lighter;
}

/* Container to add padding and border around the figure */
.captioned-figure-outer {
	display: inline-block;
	margin-bottom: 1.5em;
	padding: 0px;
	background-color: black;
}


.colours-container .row{
	padding-bottom: 3%;
	flex-wrap: nowrap;
}


.colours-container .col-sm-4{
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 4px;
	text-align: center;
}


.colours-container img:hover {
	opacity: 0.8;
}

